{% if site.facebook %}<a href="{{site.facebook}}">{% include svg-icons/facebook.html %}</a>{% endif %}
{% if site.twitter %}<a href="{{site.twitter}}">{% include svg-icons/twitter.html %}</a>{% endif %}
{% if site.github %}<a href="{{site.github}}">{% include svg-icons/github.html %}</a>{% endif %}
{% if site.instagram %}<a href="{{site.instagram}}">{% include svg-icons/instagram.html %}</a>{% endif %}
{% if site.linkedin %}<a href="{{site.linkedin}}">{% include svg-icons/linkedin.html %}</a>{% endif %}
{% if site.rss %}<a href="{{site.rss}}">{% include svg-icons/rss.html %}</a>{% endif %}